<div class="flex-wrapper">
  <div>
    {{ content.top_left }}
  </div>
  <div>
    {{ content.top_right }}
  </div>
  <div>
    {{ content.bottom_left }}
  </div>
  <div>
    {{ content.bottom_right }}
  </div>
</div>
